<h1>Prezado(a),</h1>
<p>A sua proposta de <%= @proposal.id %> foi enviada com sucesso e está em análise pelo corretor responsável.</p>
<p>Para consultar a sua proposta, clique no <%= link_to('link', proposal_url(@proposal)) %>.</p>