 
  
 <% if realtor_signed_in? %>
    <h1>Propostas Pendentes: </h1>
    <div>
     <% if @proposals.empty? %>
         <h1>Nenhuma Proposta Pendente</h1>
        <% else %>
        <%= render partial: 'proposals' %>
          <button>Aprovar</button>
          <button>Rejeitar</button>
    </div>
    <% end %>
  <% end %>
